.forgot-password-box {
  width: 356px;
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.circle {
  background: #fff4f6;
  border: 0.1875em;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  width: 100px;
  height: 100px;
  gap: 10px;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alert-image {
  width: 60px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.forgot-password-management-box {
  width: 588px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.reset-password-btn-align {
  display: flex;
  justify-content: center;
}
.reset-password-btn {
  width: 310px;
  height: 40px;
  padding: 0px 16px 0px 16px;
  gap: 8px;
  border-radius: 8px 0px 0px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.forgot-password-success-popup-img {
  width: 100px;
  height: 100px;
  gap: 0px;
  opacity: 0px;
}

.forgot-password-success-card {
  gap: 16px;
  border-radius: 8px 0px 0px 0px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-left: -19px;
  margin-right: -19px;
  
}

@media (max-width: 1024px) {

  .forgot-password-management-box {
    width: 100% ;
  }
  
  .forgot-password-form {
    width: 100%;
  }
}

@media (max-width: 1200px) {

  .forgot-password-management-box {
    width: 500px;
  }
  
  .forgot-password-form {
    width: 100%;
  }
}


@media (max-width: 590px) {

  .forgot-password-management-box {
    width: 100%;
  }
  
  .forgot-password-form {
    width: 100%;
  }
}
@keyframes vibration {
  0% { transform: translate(2px, 0); }
  20% { transform: translate(-2px, 0); }
  40% { transform: translate(2px, 0); }
  60% { transform: translate(-2px, 0); }
  80% { transform: translate(2px, 0); }
  100% { transform: translate(0, 0); }
}

.vibrating {
  animation: vibration 0.3s ease forwards;
}