.constrains-card {
  height: 83px;
  gap: 6px;
  opacity: 0px;
  display: flex;
  justify-items: end;
  flex-direction: column;
}

.set-password-card {
  width: 588px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.set-password-form {
  display: flex;
  flex-direction: column;
  width: 588px;
  gap: 24px;
}

@media (max-width: 1024px) {

  .set-password-card {
    width: 100% ;
  }
  
  .set-password-form {
    width: 100%;
  }
}

@media (max-width: 1200px) {

  .set-password-card {
    width: 500px;
  }
  
  .set-password-form {
    width: 100%;
  }
}


@media (max-width: 590px) {

  .set-password-card {
    width: 100%;
  }
  
  .set-password-form {
    width: 100%;
  }
}
